footer{

  .input-form{
    flex-basis: 70%;
    margin: 0 auto;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 80px;

    .f-left, .f-right{
      padding: 30px;

    }
  }
  .f-left{
    text-align: justify;
    flex-basis: 40%;
    h2{
      font-size: $size5;
      padding-bottom: 25px;
    }
  }
  .f-right{

      input{
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid black;
        width: 45%;

        &:focus{
          outline: none!important;

        }
      }

    input:first-child{
      display: block;
      width: 90%;
    }
  }
  .socials-wrapper{
    background-color: #E4EEED;
    .socials{
      background-image: url("../images/h2-footer-img-01.jpg");
      background-size: 80% 100%;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      padding: 80px;
      width: 80%;
      margin: 0 auto;
    }
  }
}
