header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  img {
    height: 15px;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover{
      transform: scale(1.7);
    }
  }

  ul li {
    display: inline-block;
    padding-right: 15px;

    a {
      text-decoration: none;
      color: #000;
      font-size: $size2;

      &:hover {
        border-bottom: 2px solid #EA9B82;
      }
    }
  }
}
