main{


.wrapper{
  width: 90%;
  background-image: url("../images/h2-background-img-02.png"), url("../images/h2-background-img-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top, -80px 350px;
  background-clip: border-box;
  overflow-x: visible;
}

.company-info {
  display: flex;
  align-items: center;
  padding-top: 100px;


  .title-area {
    display: flex;
    flex-basis: 60%;
  }

  .info-area {
    display: flex;
    flex-basis: 40%;
    padding-left: 70px;
  }

  h2 {
    padding-left: 200px;
    font-size: $size6;
  }

  p {
    padding-right: 100px;
    padding-top: 10px;
    font-size: $size1;

  }
}


.pictures{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto 0 300px;
  padding-top: 100px;
  .frame{
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &:hover .pic-react{
      display: block;
    }

  }


  img{
    width: 50%;
  }
  .pic-react{
    position: absolute;
    top: 0;
    left: 50%;
    width: 200px;
    height:  200px;
    background-color: #fff;
    display: none;


    .arrow{
  width: 0;
  height: 0;
  border-top-width: calc(200px * 1.414);
  border-bottom: 200px solid transparent;
  border-left: 200px solid #eac3ad;
  transform: rotate(180deg);

  .arrow-text{
  position: absolute;
  right: 90px;
  top: 40px;
  height: 120px;
  width: 120px;

  }
  #free, #book{
    display: block;
    transform: rotate(135deg);
    &:hover{
      color: #629c7c;

    }
  }
  #free{
    margin: 10px -13px 0 0;
    padding-bottom: 20px;
    font-size: $size3;
    font-weight: 600;
    cursor: pointer;
  }
  #book{
    font-size: $size1;
    padding-left: 18px;
    cursor: pointer;
  }
    }
  }

}


.options{
  margin: 100px auto 0 300px;
  width: 70%;
  display: flex;

  .opt-left{
    flex-basis: 50%;
    h3{
      font-size: $size4;

    }
    p{
      font-size: $size2;
      padding-top: 20px;

    }
    button{
      @include myButton;
      margin-top: 20px;


      &:hover{
        color: #fff;
        background-color: #80abae;
      }
    }
  }

  .opt-right{
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    font-size: $size3;

    .opt-right-1, .opt-right-2, .opt-right-3, .opt-right-4 {
      flex-basis: 50%;
      @include myFLex;
      img{
        padding-right: 25px;
      }
    }

  }
}
.wallpaper{
background-image: url("../images/h2-img-2.jpg");
background-size: 100%, cover;
background-repeat:repeat-y;
background-position: 0 150px;
width: 100%;
min-height: 600px;
text-align: center;
position: relative;
img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

}
.plans{
  padding: 50px 0;
  text-align: center;
  background-image: url("../images/h2-background-img-03.png");
  background-position: center;
  background-size: cover;




  .plan-1, .plan-2, .plan-3{

    border-radius: 10px;
    padding: 60px 30px 90px;
    display: inline-block;
    margin-left: 30px;
    height: 400px;
    width: 250px;
    h2{
      padding: 10px 0 30px;
      font-size: $size4;
    }
    h4{
      font-size: $size3;
    }



ul li{
  list-style-type: none;
  padding: 8px;
  font-size: $size1;
}
button{
  @include myButton;
  margin-top: 10px;
}
  }
  .plan-1{
    border: 1px solid #efca9e;
  }
  .plan-2{
    border: 1px solid #e6f3f0;
    background-color: #e6f3f0;


  }
  .plan-3{
    border: 1px solid #ea9b82;

  }
}


}
